<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Account List</title>
</head>
<body>
  <main>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>Number of Receipts</th>
        </tr>
      </thead>
      <tbody>
        {% for item in accounts %}
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.number}}</td>
          <td>{{item.receipts.all|length}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </main>
</body>
</html>