<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Receipts</title>
</head>

<body>
  <header>
    <nav>
     
      <ul>
        {% if not user.is_authenticated %}
        <li>
          <a href="{% url 'login' %}">Login
        </li>
        <li>
          <a href="{% url 'signup' %}">Sign Up</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li>
          <a href="{% url 'logout' %}">Log Out</a>
        </li>
        <li>
          <a href="{% url 'create_receipt' %}">Create Receipt</a>
        </li>
        <li>
          <a href="{% url 'create_account' %}">Create Account</a>
        </li>
        <li>
          <a href="{% url 'create_category' %}">Create Category</a>
        </li>
        <li>
          <a href="{% url 'account_list' %}">Accounts</a>
        </li>
        <li>
          <a href="{% url 'category_list' %}">Categories</a>
        </li>
        {% endif %}
      </ul>
      
    </nav>
  </header>
  <main>
    <h1>My Receipts</h1>
    <table>
      <thead>
        <tr>
          <th>Vendor</th>
          <th>Total</th>
          <th>Tax</th>
          <th>Date</th>
          <th>Category</th>
          <th>Account</th>
        </tr>
      </thead>
      {% for receipt in instances %}
      <tbody>

        <tr>
          <td>{{receipt.vendor}}</td>
          <td>{{receipt.total}}</td>
          <td>{{receipt.tax}}</td>
          <td><td>{{ receipt.date|date:"m/d/y" }}</td></td>
          <td>{{receipt.category.name}}</td>
          <td>{{receipt.account.name}}</td>
        </tr>
      </tbody>
      {% endfor %}
    </table>
  </main>
</body>

</html>